.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  background-color: var(--purple);
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #9982ed;
  }
}
