.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.searchInputContainer {
  position: relative;
  width: 100%;
}

.searchInputContainer > img {
  position: absolute;
  right: 16px;
  top: calc(50% - 10px);
}

.searchInput {
  background-color: var(--gray01);
  border: 1px solid var(--gray02);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 50px;
  font-size: var(--text-middle);
}

.searchInput::placeholder {
  color: var(--gray02);
}

.userList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 67px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  width: 95%;
  gap: 8px;
  height: 100dvh;
  overflow: auto;
}

.userListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray01);
  border-radius: 8px;
  padding: 16px 0;
  height: 100%;
  text-align: center;
}

.userListItem.selected {
  background-color: #9b80ff;
  border: 1px solid #cdd5e9;
  color: white;
}

.userListItemName {
  margin: 0;
  font-weight: 600;
  font-size: var(--text-middle);
}

.userListItemMajor {
  margin: 0;
  font-size: var(--caption-middle);
}
