body {
  /* color variables */
  --light-text: #000000;
  --dark-text: #cdd5e9;
  --gray01: #f6f6f6;
  --gray02: #e8e8e8;
  --gray03: #bdbdbd;
  --gray04: #475467;
  --red: #ff0000;
  --purple: #613de4;

  /* font sizes */
  --text-middle: 16px;
  --text-large: 18px;
  --caption-middle: 10px;
  --caption-large: 12px;
  --title-middle: 18px;
  --title-large: 32px;

  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: var(--text-middle);
}

a {
  color: var(--purple);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1d2939;
  }
}
